<div class="content m-4 p-4">
  <form action="">
    <div class="row align-items-center">
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto">
        <select class="form-select form-select-lg mb-3" data-placeholder="ff">
          <option value="1">One</option>
        </select>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto px-2">
        <select class="form-select form-select-lg mb-3">
          <option value="1">One</option>
        </select>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto">
        <button type="submit" class="btn">
          <span><i class="bi bi-search"></i></span> Rechercher
        </button>
      </div>
    </div>
  </form>

  <a routerLink="/menu" class="mt-5"
    >Ajouter un Service <span><i class="bi bi-plus-circle-fill"></i></span>
  </a>
</div>
