<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="bg-dark col-auto col-md-2 min-vh-100">
      <div class="bg-dark p-4">
        <a
          class="d-flex text-decoration-none mt-1 align-items-center text-white"
        >
          <span class="fs-4 d-none d-sm-inline">ServiceSwap</span>
        </a>
        <ul class="nav nav-pills flex-column mt-4">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/home"
              ><i class="fs-5 fa fa-guage"></i>
              <span class="fs-4 d-none d-sm-inline">Dashboard</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/home"
              ><i class="fs-5 fa fa-guage"></i>
              <span class="fs-4 d-none d-sm-inline">Dashboard</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/home"
              ><i class="fs-5 fa fa-guage"></i>
              <span class="fs-4 d-none d-sm-inline">Dashboard</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
