<div class="image"><h1>About us</h1></div>
<div class="text">
  <h2>Our Vision</h2>
  <p>
    In our vision, we aim to create an application that allows users to buy and
    sell services. This application will provide a platform for users to connect
    and engage in transactions related to various services.
  </p>
</div>
<div class="image"></div>
<div class="text">
  <h2>Our Mission</h2>
  <p>
    Our mission is to create a seamless and user-friendly platform that empowers
    individuals and businesses to easily buy and sell services. We strive to
    connect buyers and sellers from all over the world, providing a diverse
    marketplace where users can find the services they need and grow their
    businesses. Through our platform, we aim to facilitate secure transactions,
    foster trust between users, and promote economic opportunities for all
  </p>
</div>
<div class="image"></div>
<div class="text">
  <h2>Our Motto</h2>
  <p>" Find the services you need. Sell the Skills you have "</p>
</div>
