<div class="container">
  <div class="header"><h2>Service</h2></div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-6 mb-30">
      <div class="card">
        <a href=""><span>Repair and installation </span></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-6 mb-30">
      <div class="card">
        <a href=""><span>Repair and installation </span></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-6 mb-30">
      <div class="card">
        <a href=""><span>Repair and installation </span></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-6 mb-30">
      <div class="card">
        <a href=""><span>Repair and installation </span></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-6 mb-30">
      <div class="card">
        <a href=""><span>Repair and installation </span></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-6 mb-30">
      <div class="card">
        <a href=""><span>Repair and installation </span></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-6 mb-30">
      <div class="card">
        <a href=""><span>Repair and installation </span></a>
      </div>
    </div>
  </div>
</div>
<div></div>
