<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="content">
          <p class="heading">card</p>
          <p class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            dolorem.
          </p>
          <button class="btn">Read more</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="content">
          <p class="heading">card</p>
          <p class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            dolorem.
          </p>
          <button class="btn">Read more</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="content">
          <p class="heading">card</p>
          <p class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            dolorem.
          </p>
          <button class="btn">Read more</button>
        </div>
      </div>
    </div>
    <div class="col m-4 p-4">
      <div class="card">
        <div class="content">
          <p class="heading">card</p>
          <p class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            dolorem.
          </p>
          <button class="btn">Read more</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="content">
          <p class="heading">card</p>
          <p class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            dolorem.
          </p>
          <button class="btn">Read more</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="content">
          <p class="heading">card</p>
          <p class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            dolorem.
          </p>
          <button class="btn">Read more</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="content">
          <p class="heading">card</p>
          <p class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            dolorem.
          </p>
          <button class="btn">Read more</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="content">
          <p class="heading">card</p>
          <p class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            dolorem.
          </p>
          <button class="btn">Read more</button>
        </div>
      </div>
    </div>
  </div>
</div>
