.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../assets/img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
}

.content h1 {
    color: #fff;
    font-size: 10vw;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: sans-serif;
}

.content h5 {
    color: #595a5c;
    padding: 0.5rem;
    margin: 0.5rem;

}

.content {
    top: 28%;
    left: 15%;
    position: absolute;
}

span {
    color: black;
    font-family: serif;
}

.search {
    padding-top: 0.5rem;
}