.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../../../assets/img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
}

.content h1 {
    color: var(--color4);
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 0.5rem;

}

.content h5 {
    color: black;
    padding-bottom: 1.5rem;
}

.content {
    top: 15%;
    left: 15%;
    position: absolute;
}